@page  "/leaderboard"
@using System.Threading
@inject IGameService gameService;
@inject IContestantService contestantService;
@using System.Text.Json;
<h1>Leader Board</h1>

@if (status.IsStarted)
{
    <h2>Game has started!</h2>
    <p>Computing @status.NumberGenerations generations</p>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Last Seen</th>
                <th>Generations</th>
                <th>Started</th>
                <th>Finished</th>
                <th>Elapsed</th>
                <th>Correct Answer</th>
            </tr>
        </thead>
        @foreach (var contestant in contestantService.GetContestants())
        {
            <tr>
                <td scope="row">@contestant.Name</td>
                <td>@contestant.LastSeen.ToShortTimeString()</td>
                <td>@contestant.GenerationsComputed</td>
                <td>@contestant.StartedGameAt?.ToString("T")</td>
                <td>@contestant.EndedGameAt?.ToString("T")</td>
                <td>@contestant.Elapsed</td>
                <td>@contestant.CorrectFinalBoard</td>
            </tr>
        }
    </table>

    @if(status.IsGameOver)
    {
        <p>Good game! :)</p>
    }
    else
    {
        <button @onclick="endGame">End Game</button>
    }
}

@code {
    protected override void OnInitialized()
    {
        refresh();
        var timer = new Timer(new TimerCallback(refresh), state: null, dueTime: 500, period: 500);
    }

    GameStatus status;

    async void refresh(object state = null)
    {
        status = gameService.GetGameStatus();
        await InvokeAsync(()=>StateHasChanged());
        Console.WriteLine($"refreshing leaderboard @ {DateTime.Now}");
    }

    void endGame()
    {
        gameService.EndGame();
        contestantService.ResetContestantList();
    }
}
